.conteudo{
    background-color: rgb(0, 47, 150);
}
.conteudo h1{
    text-align: center;
    margin: 10px;
    color: rgb(252, 220, 38);
}
footer{
    text-align: center;
    font-size: 18px;
    margin: 10px;
    color: rgb(252, 220, 38);
}